* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}
h1 {
  position: absolute;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
}
.hero-title {
  width: 890px;
  color: #00a092;
  font-size: 82px;
  font-weight: 800;
  letter-spacing: 0.8px;
  line-height: 100px;
  text-transform: uppercase;
}
h2 {
  color: #00a092;
  font-size: 54px;
  font-weight: 600;
  line-height: 66px;
  text-transform: uppercase;
}
h3 {
  font-size: 42px;
  font-weight: 500;
  line-height: 51px;
  text-transform: uppercase;
}
h4 {
  font-size: 26px;
  font-weight: 500;
  line-height: 34px;
}
p {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}
.p-btn {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  text-transform: uppercase;
}
a {
  text-decoration: none;
}
header {
  background-color: #f58021;
}
.container {
  margin: 0 auto;
  max-width: 1920px;
}
.content {
  margin: 0 auto;
  max-width: 1400px;
}
.header-content {
  display: flex;
  height: 110px;
  align-items: center;
}
.logo {
  flex: 3;
  padding-top: 5px;
}
.header-logo {
  cursor: pointer;
}
nav {
  flex: 3;
}
.menu {
  display: flex;
  width: 553px;
  justify-content: space-between;
  list-style: none;
}
.menu li .p-btn{
  color: #000;
  cursor: pointer;
}
.menu li .p-btn:hover,
.menu li .p-btn:active {
  color: #00a092;
}
.menu li .activ{
  color: #00a092;
  cursor: auto;
}
.social-nets {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.social {
  display: flex;
  padding-top: 7px;
  width: 180px;
  justify-content: space-between;
  justify-self: right;
  list-style: none;
}
.social a {
  cursor: pointer;
}
.social li:first-child {
  padding-top: 2px;
}
.hero-container {
  background-image: url(../assets/images/background.png);
  background-position: -8px -41px;
  background-repeat: no-repeat;
}
.hero-content {
  padding-top: 129px;
  height: 790px;
}
.hero-descr {
  margin-top: 31px;
  width: 430px;
}
.org-btn {
  margin-top: 44px;
  padding-right: 34px;
  width: 240px;
  height: 74px;
  color: #fff;
  border: none;
  border-radius: 5px;
  background-color: #f58021;
  background-image: url(../assets/icons/union.svg);
  background-position: 185px center;
  background-repeat: no-repeat;
}
.org-btn:focus {
  outline: none;
}
.org-btn:hover,
.org-btn:active {
  background-color: #d26004;
  cursor: pointer;
}
.welcome-content {
  height: 1362px;
}
.welcome {
  display: flex;
  margin-top: 150px;
  height: 531px;
}
.welcome-photo {
  flex: 4;
}
.aim {
  position: relative;
  top: -63.8%;
  left: 49.8%;
}
.welcome-img,
.how-work-img {
  width: 100%;
}
.welcome-text {
  flex: 3;
  padding-top: 68px;
}
.how-work-text {
  flex: 3;
  padding-top: 113px;
}
.welcome-text p,
.how-work-text p {
  margin-top: 51px;
  max-width: 560px;
}
.how-work-text h2,
.how-work-text p {
  margin-left: 40px;
}
.donation-main {
  background-color: #20113d;
}
.donation-content {
  display: flex;
  padding-top: 51px;
  height: 221px;
  color: #fff;
}
.donation-descr {
  flex: 3;
}
.donation-descr p {
  margin-top: 20px;
  padding-left: 1px;
  width: 609px;
}
.quick-donation {
  flex: 1;
  background-color: lightcoral;
}