* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

h1 {
  position: absolute;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
}

.hero-title {
  width: 890px;
  color: #00a092;
  font-size: 82px;
  font-weight: 800;
  letter-spacing: 0.8px;
  line-height: 100px;
  text-transform: uppercase;
}

h2 {
  font-size: 54px;
  font-weight: 600;
  line-height: 66px;
  text-transform: uppercase;
}

h3 {
  font-size: 42px;
  font-weight: 500;
  line-height: 51px;
  text-transform: uppercase;
}

.subheader {
  font-size: 26px;
  font-weight: 500;
  line-height: 34px;
}

.p-body {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

.p-btn {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

header {
  background-color: #f58021;
}

.content {
  margin: 0 auto;
  max-width: 1400px;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 110px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  padding-top: 5px;
}

.header-logo {
  cursor: pointer;
}

nav {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.h-menu li .p-btn {
  color: #000;
  cursor: pointer;
}

.h-menu li .p-btn:hover,
.h-menu li .p-btn:active {
  color: #00a092;
}

.menu li .activ {
  color: #00a092;
  cursor: auto;
}

.h-menu {
  width: 553px;
}

.social-nets {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 7px;
  width: 180px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-self: right;
  list-style: none;
}

.social a {
  cursor: pointer;
}

.social li:first-child {
  padding-top: 2px;
}

.contact-us-content {
  min-height: 1874px;
}

.touch-img {
  width: 100%;
}

.touch-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 145px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.touch-us-title {
  color: #00a092;
}

.touch-us-subtitle {
  margin-top: 51px;
  max-width: 545px;
  color: #000;
}

.touch-us-form {
  display: flexbox;
}

.send-message {
  padding-top: 1px;
  width: 680px;
  height: 618px;
  color: #000;
}

.required {
  display: inline-block;
  margin-top: 30px;
}

.required:first-child {
  margin-top: 0;
}

.required::before {
  color: #00a092;
  content: "* ";
}

.send-message-form,
.send-message-textarea {
  margin-top: 10px;
  padding-left: 20px;
  width: 680px;
  height: 60px;
  border: 1px solid #000;
  border-radius: 5px;
}

.send-message-textarea {
  height: 200px;
  padding-top: 22px;
}

.long-btn {
  width: 359px;
  height: 74px;
  background-color: transparent;
  background-repeat: no-repeat;
  border-radius: 5px;
  cursor: pointer;
}

.long-btn:focus {
  outline: none;
}

.long-btn:hover,
.long-btn:active {
  border: 1px solid #fff;
}

.send-message-btn {
  margin-top: 67px;
  padding-right: 32px;
  width: 359px;
  height: 74px;
  color: #fff;
  background-color: #00a092;
  background-image: url(../assets/icons/arrow-r-w.svg);
  background-position: 245px center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.send-message-btn:focus {
  outline: none;
}

.send-message-btn:hover,
.send-message-btn:active {
  background-color: #05786e;
}

footer {
  margin-top: 0px;
  color: #fff;
  background-color: #20113d;
}

.footer-content {
  height: 329px;
}

.footer-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.f-line-1 {
  min-height: 214px;
  border-bottom: 1px solid #fff;
}

.f-line-2 {
  min-height: 115px;
}

.footer-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 415px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.f-logo-zoo {
  padding-top: 5px;
}

.f-menu {
  margin: -4px 100px 0;
  width: 425px;
}

.f-menu li .p-btn {
  color: #fff;
  cursor: pointer;
}

.f-menu li .p-btn:hover,
.f-menu li .p-btn:active {
  text-decoration: underline;
}

.list-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1px;
  width: 447px;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.f-social {
  width: 200px;
}

.footer-btn {
  padding-right: 32px;
  color: #fff;
  background-image: url(../assets/icons/arrow-r-w.svg);
  background-position: 300px center;
  border: 1px solid #fff;
}

.footer-btn:hover,
.footer-btn:active {
  background-color: #00a092;
}
/*# sourceMappingURL=style-contact.css.map */