* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
header {
  min-height: 90px;
  font-family: 'Berkshire Swash', cursive;
  font-size: 32px;
  letter-spacing: 16px;
  text-align: center;
  background-color: #d2b48c;
}
main {
  margin: 0 auto;
	padding: 7% 1% 0;
	display: flex;
  height: calc(100vh - 180px);
  min-height: 500px;
  flex-direction: column;
	justify-content: flex-start;
	align-items: space-between;
  background-color: #fff8dc;
}
a:focus {
	outline: 0;
}
.btn-line {
  margin: 0 auto;
  display: flex;
  width: 100%;
  max-width: 1200px;
  justify-content: center;
}
.btn-container {
  margin: 0 auto 80px;
	display: flex;
  width: 320px;
	height: 40px;
	justify-content: space-between;
}
.fullscreen {
	width: 40px;
	height: 40px;
	background-color: #fff8dc;
  background-image: url("assets/icons/fs-open.svg");
  background-size: contain;
	border: 0;
	outline: 0;
	transition: 0.3s;
	cursor: pointer;
}
.fullscreen:hover {
	transform: scale(1.2);
}
:-webkit-full-screen .fullscreen {
	background-image: url("assets/icons/fs-exit.svg");
}
.btn {
  padding: 0 10px;
	width: 150px;
	height: 40px;
  color: #fff;
	font-family: 'Rajdhani', sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
	text-transform: uppercase;
	background-color: #454c53;
  border: 0;
  border-radius: 5px;
	outline: none;
	transition: 0.3s;
  cursor: pointer;
}
.btn:hover {
	background-color: #89929b;
	transform: scale(1.1);
}
.btn.active {
	background-color: #00b4a4;
}
.btn.active:hover {
	background-color: #4ed3c8;
}
.piano {
  margin: 0 auto;
	position: relative;
	display: flex;
	width: 100%;
  max-width: 560px;
	height: 270px;
	font-family: 'Berkshire Swash', cursive;
	justify-content: space-between;
}
.piano-key {
	margin: 4px;
	position: relative;
	width: 80px;
	height: 270px;
	background-color: #fff;
	border: 2px solid #313940;
	border-radius: 0px 0px 12px 12px;
	transition: 0.3s;
	cursor: pointer;
}
.piano-key:hover {
	background-color: #e6e0ab;
}
.keys-sharp {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 53px;
	right: 53px;
	display: flex;
	justify-content: space-between;
	pointer-events: none;
}
.piano-key.sharp {
	margin: 0;
  top: 0;
  z-index: 3;
  width: 54px;
	height: 170px;
	background-color: #313940;
	border: 0;
	border-radius: 0px 0px 9px 9px;
  pointer-events: auto;
	transform-origin: center top;
}
.piano-key.sharp:hover {
	background-color: #496c8f;
}
.piano-key.piano-key.active {
	background-color: #b4b2a0;
	transform: scale(0.96);
}
.piano-key.sharp.piano-key.active {
	background-color: #000;
	transform: scale(0.96);
}
.piano-key.none {
	background-color: transparent;
	border: 0;
	border-radius: 0;
	pointer-events: none;
}
.piano-key::before,
.piano-key::after {
	content: attr(data-note);
	position: absolute;
	bottom: -45px;
	left: 20px;
	width: 40px;
	height: 40px;
	color: #a2abb3;
	font-size: 26px;
	line-height: 40px;
	text-align: center;
	transition: 0.3s;
	pointer-events: none;
}
.piano-key::after {
	display: none;
	content: attr(data-letter);
}
.piano-key:hover::before,
.piano-key:hover::after {
	color: #573abd;
}
.piano-key.active:hover::before,
.piano-key.active:hover::after {
	color: #00b4a4;
}
.piano-key.active::before,
.piano-key.active::after {
	color: #00b4a4;
}
.sharp.active {
	border-top: 0;
}
.piano-key.sharp::before,
.piano-key.sharp::after {
	bottom: 175px;
	left: 7px;
}
.piano-key.letter::before {
	display: none;
}
.piano-key.letter::after {
	display: block;
}
.piano-key-letter::before {
	content: attr(data-letter);
}
.piano-key-remove-mouse:active::before {
	color: #a2abb3;
}
.piano-key-active-pseudo:hover::after,
.piano-key-active-pseudo:hover::before,
.piano-key-active::after,
.piano-key-active::before {
	color: #00b4a4;
}
footer {
  background-color: #d2b48c; 
}
.footer-content {
  margin: 0 auto;
  padding: 0 5%;
  display: flex;
  max-width: 1440px;
  height: 90px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 50px;
  justify-content: space-between;
  align-items: center;  
}
.footer-img {
  height: 50px;
}
a:hover .footer-img {
  transform: scale(1.2);
}
