* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.header,
.main,
.footer {
  width: 1440px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  background: url("./assets/img/bg.jpg");
  background-position: center 0;
  background-repeat: no-repeat;
}

.logo {
  width: 50px;
  height: 50px;
  background-image: url("./assets/svg/logo.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.3s;
}

.logo:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.nav {
  margin-left: auto;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  width: 500px;
}

.nav-item a,
.lang,
.lang a {
  color: #ffffff;
  line-height: 50px;
}

.lang {
  display: flex;
  justify-content: space-between;
  width: 70px;
  font-weight: 700;
}

.nav-item a:hover,
.lang a:hover {
  color: #bdae82;
}

.hero-container {
  padding: 160px 890px 330px 80px;
  background-image: url("./assets/img/bg.jpg");
  background-position: center -90px;
  background-repeat: no-repeat;
}

.hero,
.hero-button:hover {
  color: #ffffff;
}

h1 {
  margin: 0;
  font-family: "Merriweather", serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 120px;
}

.hero-text {
  margin-top: 10px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 40px;
}

.hero-button {
  width: 220px;
  height: 55px;
  margin-top: 25px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  background-color: #bdae82;
  border: none;
  cursor: pointer;
}
