.zooz-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.zoos-content {
  margin-left: 2.1%;
  margin-right: 0.1%;
  width: 100%;
  color: #fff;
}

.sidebar {
  margin: 0;
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  top: 0;
  margin: 0 0 0 -8px;
  width: 220px;
  height: 846px;
  background-color: #20113d;
}

.live-frame {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #fff;
}

.live-sign-cam {
  padding-top: 8px;
  padding-right: 30px;
  width: 120px;
  height: 38px;
  color: #fff;
  background-color: #f58021;
  background-image: url(../../assets/icons/camera-w.svg);
  background-position: 75px center;
  background-repeat: no-repeat;
  border-radius: 0 0 5px 0;
  text-align: center;
}

.double-arrow-right {
  margin-top: -8px;
  margin-left: 174px;
  width: 16px;
  height: 15px;
  background-image: url(../../assets/icons/double-arrows.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.animal-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.animal-frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -1px;
  margin-bottom: 1px;
  height: 172px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.animal-frame.active {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.animal-sign {
  width: 104px;
  height: 104px;
  background-color: #f58021;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
}

.animal-sign.active {
  background-color: #fff;
  -webkit-box-shadow: 0 0 0 4px #20113d, 0 0 0 8px #fff;
          box-shadow: 0 0 0 4px #20113d, 0 0 0 8px #fff;
  cursor: auto;
}

.panda-icon {
  background-image: url(../../assets/icons/panda.svg);
}

.eagle-icon {
  background-image: url(../../assets/icons/eagle.svg);
}

.gorilla-icon {
  background-image: url(../../assets/icons/gorilla.svg);
}

.lemur-icon {
  background-image: url(../../assets/icons/lemur.svg);
}

.arrow-down-btn {
  margin: 35px auto 0;
  width: 15px;
  height: 9px;
  background-image: url(../../assets/icons/arrow-down.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.zoos-title-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.zoos-title {
  margin-top: 3px;
  margin-right: 198px;
  color: #00a092;
}

.donate-btn-zoos {
  background-position: 180px center;
}

.zoos-live-main {
  margin-top: 46px;
  max-width: 1400px;
  height: 787px;
}

.live-video-container {
  width: 100%;
  height: 100%;
  background-image: url(../../assets/images/panda-cam1.png);
  background-position: center;
  background-repeat: no-repeat;
}

.p-main-video {
  position: absolute;
  z-index: 3;
  margin-top: 13px;
  margin-left: 16px;
  color: #fff;
  font-size: 28.4375px;
  font-weight: 500;
  line-height: 130%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: -10px 0 0 rgba(0, 0, 0, 0.5), 10px 0 0 rgba(0, 0, 0, 0.5);
          box-shadow: -10px 0 0 rgba(0, 0, 0, 0.5), 10px 0 0 rgba(0, 0, 0, 0.5);
}

#live-video {
  display: none;
}

.zoos-live-button {
  position: relative;
  top: -420px;
  margin: 0 auto;
  z-index: 3;
  width: 80px;
  height: 53px;
  background-image: url(../../assets/icons/play-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.zoos-live-button:hover {
  background-image: url(../../assets/icons/play-button-o.svg);
}

.main-video-logo {
  position: relative;
  z-index: 3;
  top: -172px;
  left: 91%;
  right: 2%;
  right: 10%;
  width: 105px;
  height: 54.69px;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(../../assets/icons/logo-w.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -webkit-box-shadow: -10px 0 0 rgba(0, 0, 0, 0.5), 10px 0 0 rgba(0, 0, 0, 0.5);
          box-shadow: -10px 0 0 rgba(0, 0, 0, 0.5), 10px 0 0 rgba(0, 0, 0, 0.5);
}

.zoos-subtitle-line {
  margin-top: 101px;
  text-align: center;
}

.zoos-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 28px;
  margin-right: 2.7%;
  margin-left: calc( 2.7% + 120px);
  max-width: 1205px;
  height: 209px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.zoos-slider-btn {
  border: none;
}

.zoos-video-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1040px;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.zoos-slider-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 320px;
  height: 100%;
  background-color: yellow;
  border-radius: 5px;
}

.zoos-slider-video.active {
  border: 3px solid #f58021;
}

.zoos-btn-l {
  background-image: url(../../assets/icons/arrow-l.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.zoos-btn-l:hover,
.zoos-btn-l:active {
  background-color: #20113d;
  background-image: url(../../assets/icons/arrow-l-w.svg);
}

.zoos-btn-r {
  background-image: url(../../assets/icons/arrow-r.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.zoos-btn-r:hover,
.zoos-btn-r:active {
  background-color: #20113d;
  background-image: url(../../assets/icons/arrow-r-w.svg);
}

.bamboo-main {
  background-color: #20113d;
}

.bamboo-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 151px;
  padding-top: 48px;
  padding-left: 1px;
  color: #fff;
  height: 249px;
}

.bamboo-descr-title {
  margin-top: 3px;
}

.bamboo-descr-subtitle {
  margin-top: 20px;
  max-width: 875px;
}

.bio-content {
  padding-top: 150px;
  min-height: 1396px;
}

.you-know {
  margin-left: 17.1%;
  margin-right: 0.1%;
  padding-top: 47px;
  max-width: 1040px;
  height: 269px;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.you-know h3 {
  color: #00a092;
}

.you-know h4 {
  display: inline-block;
  margin-top: 19px;
  max-width: 920px;
  color: #000;
}

.animal-bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 148px;
  height: 440px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bio-card {
  width: 51.5%;
  padding-left: 1px;
}

.bio-card ul li {
  list-style: none;
}

.bio-card ul li h4,
.bio-card ul li p {
  display: inline-block;
  color: #000;
}

.bio-card ul li p {
  margin-left: 15px;
}

.bio-card-line-1 {
  margin-bottom: 25px;
}

.bio-card-line-2 {
  margin: 18px 0;
}

.bio-btn {
  position: relative;
  z-index: 1;
  top: -53px;
  left: 239px;
  background-position: 168px center;
}

.bio-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 48.5%;
}

.bio-img {
  max-width: 440px;
  max-height: 440px;
  border-radius: 5px;
}

.bio-descr {
  margin-top: 51px;
  max-width: 1160px;
}
/*# sourceMappingURL=style-zoos.css.map */